<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <title>Bookstore List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="/src/main/resources/static/bootstrap.min.css">
</head>

<body>
  <div class="row container">

    <div class="col-md-4">
      <h1>Books</h1>
    </div>

    <div class="col-md-4 text-center">
      <h3>Welcome <span sec:authentication="name"></span></h3>
    </div>

    <div class="col-md-4 text-right">
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
      </form>
    </div>

  </div>

  <!-- table -->
  <table class="table table-striped">
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Price</th>
      <th>Category</th>
      <th sec:authorize="hasRole('ADMIN')"> </th>
    </tr>

    <tr th:each="book : ${books}">
      <td th:text="${book.Isbn}"></td>
      <td th:text="${book.Title}"></td>
      <td th:text="${book.Author}"></td>
      <td th:text="${book.publicationYear}"></td>
      <td th:text="${book.Price}"></td>
      <td th:text="${book.category} ? ${book.category.name} : ' ' "></td>
      <td sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/delete/{id}(id=${book.Id})}" class="btn btn-outline-danger">Delete</a>
      </td>
      <td><a th:href="@{/edit/{id}(id=${book.Id})}" class="btn btn-outline-info">Edit</a></td>

    </tr>
  </table>

  <a th:href="@{/add}" class="btn btn-outline-info"> Add a new book </a>

</body>

</html>